<video id="myvideo" class="video-js vjs-default-skin text-center" width="100%" height="100%" autoplay controls
	data-setup='{}'>
	<source src='/videos/nakedandafraid.mp4' type='video/mp4'>
</video>
<div id="input-options">
	<input type="text" id="text_box" placeholder="What do you think?">
	<ul class="input-options-buttons">
		<li data-type="text" class="input-option-button input-option-button-active"><i class="fa fa-font"></i></li>
		<li data-type="draw" class="input-option-button"><i class="fa fa-pencil"></i></li>
		<li data-type="camera" class="input-option-button"><i class="fa fa-video-camera"></i></li>
	</ul>
</div>
